body {
    -webkit-text-size-adjust: 100%;
    margin: 0 auto;
    padding: 20px;
    font-size: 14px;
    tab-size: 4;
    font-family: "微软雅黑";
    color: #24292f;
    background-color: #ffffff;
    line-height: 1.5;
    word-wrap: break-word;
    border-color: #d8dee4;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    display: block;
    margin-top: 24px;
    margin-bottom: 16px;
    font-weight: 600;
    line-height: 1.25;
    border-color: #d8dee4;
}

h1 {
    line-height: 1.5;
    font-size: 2.25em;
    margin: 0.67em 0;
    padding-bottom: 0.3em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    border-bottom: 1px solid #d8dee4;
}

.vscode-dark h1 {
    border-color: #d8dee4;
}

h2 {
    line-height: 1.5;
    font-size: 1.75em;
    margin: 0.67em 0;
    padding-bottom: 0.3em;
    border-bottom: 1px solid #d8dee4;
}

h3 {
    font-size: 1.5em;
    margin: 0.67em 0;
    padding-bottom: 0.3em;
}

code {
    padding: 0.2em 0.4em;
    margin: 0;
    font-size: 85%;
    background-color: #e8ebef;
    border-radius: 6px;
}

blockquote {
    height: 1.5;
    line-height: 1.5;
}

.vscode-dark pre {
    background-color: #e8ebef;
    color: #24292f
}
